mixin navigation(back, page)
    - if (back)
        a.nav-item.back(onclick="window.history.go(-1);")
            span
    button.nav-item.menu
      .menu-trigger
        span
      ul.menu-container
        - if (page === "home")
            li: a.current Home
        - else
            li: a(href="/") Home
        - if (page === "about")
            li: a.current About
        - else
            li: a(href="/about") About
        - if (page === "photography")
            li: a.current(href="/photography")  Photography
        - else
            li: a(onclick='ga("send", "event", "Menu", "click", "Photography")' href="/photography")  Photography
        li.social
            a(href="https://www.instagram.com/marcusdeely/")
                img(src="../images/icons/instagram.svg" width="24px" height="24px")
            a(href="https://www.linkedin.com/in/marcdeely")
                img(src="../images/icons/linkedin.svg" width="24px" height="24px")
            a.email(href="mailto:themarcusdeely@gmail.com")
                img(src="../images/icons/email.svg" width="24px" height="24px")


mixin masthead(hero, project)
    - if (hero)
        nav.masthead.project-header
            .hero(style='background-color:'+project.theme)
    - else
        nav.masthead.nav-header
            ul.nav-header
                li.design(data-type="Design"): a
                li.name(data-type="About"): a(href="/about")
                li.code(data-type="Code"): a

mixin photography_masthead()
    nav.masthead.photography
        .logo-container
            a(href="/" data-ajax="false")
            img(src="/images/icons/name_white.svg" height="24px" width="auto")
            span Photography
            ul.menu
                li
                    a(href="https://www.instagram.com/marcusdeely/" target="_blank") Instagram
                li
                    a(href="https://www.linkedin.com/in/marcdeely" target="_blank") LinkedIn
                li
                    a(href="mailto:themarcusdeely@gmail.com") Contact

mixin photography_navigation()
    .side_menu
        .menu-toggle
        .album-switcher
            span.current-album #{albumName}
            .album-list-container
                a(href="/all-photos") all photos
                each album in albumNames
                    - var albumNameFormatted = album.replace('-',' ')
                    a(href="/"+album) #{albumNameFormatted}
        +photographyCollection(photography)

mixin listProjects()
    for project in projects
        - var name  = project.name
        - var klass = project.type.join(' ')
        - var thumb = project.images.thumb

        a.portfolioLink(href='/'+ name + '' class=klass onclick='ga("send", "event", "Project", "click", "' +name + '")')
            .item-content
                img(src='https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+name+'/'+thumb)
            .item-details #{project.title}

mixin imageCollection(project)
    - if (project.images.collection && project.images.collection.length)
        .collection-container
            each image, index in project.images.collection
                - var name = project.name
                - var fileName = image.fileName
                - var imgTitle = image.title || "Image by Marc Deely"

                - if (image.hero === true)
                    .collection.hero
                        img(title=imgTitle src='https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+name+'/'+fileName)
                        p
                            span !{image.description}
                - else
                    .collection(class=(image.end === true ? "end" : ""))
                        img(title=imgTitle  data-img-index=index class='lazy' data-original='https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+name+'/'+fileName)
                        p
                            span !{image.description}

mixin photographyCollection(photos)
    - if (photos.images.collection && photos.images.collection.length)
    .photo-drawer
        - var index = 0
        each album in albumNames
            - var albumNameFormatted = album.replace('-',' ')
            - if (album == albumName || album == undefined)
                span(class=album)
                    each image in photos.images.collection
                        - if ( image.display == false )
                            return
                        - else
                            - var imgAlbum = image.album
                            - if (imgAlbum == album)
                                - var name     = photos.name
                                - var fileName = image.fileName
                                - var filePath = (name+"/"+fileName)
                                - var imgTitle = image.title || "Photograph by Marc Deely"

                                a(href='/photography/'+album+'/'+fileName rel="external" data-ajax="false")
                                    img(alt=imgTitle title=imgTitle data-album=imgAlbum data-img-index=index style="100px" src="https://s3.amazonaws.com/mdeely-portfolio-assets/images/"+filePath+"-sm.jpg")

                                - var index = ++index
            - else
                span(style="display: none" class=album)
                    each image in photos.images.collection
                        - if ( image.display == false )
                            return
                        - else
                            - var imgAlbum = image.album
                            - if (imgAlbum == album)
                                - var name     = photos.name
                                - var fileName = image.fileName
                                - var filePath = (name+"/"+fileName)
                                - var imgTitle = image.title || "Photograph by Marc Deely"

                                a(href='/photography/'+album+'/'+fileName rel="external" data-ajax="false")
                                    img(alt=imgTitle title=imgTitle data-album=imgAlbum data-img-index=index style="100px" src="https://s3.amazonaws.com/mdeely-portfolio-assets/images/"+filePath+"-sm.jpg")

                                - var index = ++index


mixin scrollToTop
    button.scrollToTop Scroll to top

mixin backgroundMenuFade(color)
    - color = color || ''
    .menu-fader(style='background-color:'+color)

mixin facebookSDK
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&version=v2.7&appId=1780984665505852";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
