mixin navigation(back, page)
    - if (back)
        a.nav-item.back(onclick="window.history.go(-1);")
            span
    //- button.nav-item.menu
    //-   .menu-trigger
    //-     span
    //-   ul.menu-container
    //-     - if (page === "home")
    //-         li: a.current Home
    //-     - else
    //-         li: a(href="/") Home
    //-     - if (page === "about")
    //-         li: a.current About
    //-     - else
    //-         li: a(href="/about") About
    //-     - if (page === "photography")
    //-         li: a.current(href="/photography")  Photography
    //-     - else
    //-         li: a(onclick='ga("send", "event", "Menu", "click", "Photography")' href="/photography")  Photography
    //-     li.social
    //-         a(href="https://dribbble.com/marcusdeely")
    //-             img(src="../images/icons/dribble.svg" width="24px" height="24px")
    //-         a(href="https://www.instagram.com/marcusdeely/")
    //-             img(src="../images/icons/instagram.svg" width="24px" height="24px")
    //-         a(href="https://www.linkedin.com/in/marcdeely")
    //-             img(src="../images/icons/linkedin.svg" width="24px" height="24px")
    //-         a.email(href="mailto:themarcusdeely@gmail.com")
    //-             img(src="../images/icons/email.svg" width="24px" height="24px")

mixin aboutMasthead(hero, project)
    nav.masthead.nav-header
        ul.nav-header
            li.name(data-type="Home"): a(href="/")

mixin masthead(hero, project)
    - if (hero)
        nav.masthead.project-header
            .hero(style='background-color:'+project.theme)
    - else
        nav.masthead.nav-header
            ul.nav-header
                li.ui(data-type="UI Design" data-name="ui-design"): a
                li.design(data-type="Graphic Design" data-name="graphic-design"): a
                li.name(data-type="About"): a(href="/about")
                li.code(data-type="Code" data-name="code"): a
                li.photos(data-type="Photography"): a(href="/photography")

mixin footer(color)
    - color = color ||  ''
    div#footer(style='background-color:'+color)
        p Designed and coded by yours truly.
            a(href="https://nodejs.org/en/" target="_blank")
                img(src="/images/icons/node-logo.svg")

mixin photography_masthead()
    nav.photo-nav.bgImg
        div.logo
            i.fa.fa-navicon.album-trigger.triggered
            img(src="/images/icons/name_white.svg" height="24px" wdith="auto")
            span Photography
        div.current-album-wrapper.triggered
            div.current-album All photos
        ul.social
            li.linked-in
                a
            li.instagram
                a
            li.dribbble
                a
            li.email
                a

mixin photography_navigation()
    +photographyCollection(photography)
    +albumCollection(photography)


mixin listProjects()
    for project in projects
        - var name  = project.name
        - var klass = project.type.join(' ')
        - var thumb = project.images.thumb

        a.portfolioLink(href='/'+ name + '' class=klass onclick='ga("send", "event", "Project", "click", "' +name + '")')
            .item-content
                img(src='https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+name+'/'+thumb)
            .item-details #{project.title}

mixin imageCollection(project)
    - if (project.images.collection && project.images.collection.length)
        .collection-container
            each image, index in project.images.collection
                - var name = project.name
                - var fileName = image.fileName
                - var imgTitle = image.title || "Image by Marc Deely"

                - if (image.hero === true)
                    .collection.hero
                        img(title=imgTitle src='https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+name+'/'+fileName)
                        p
                            span !{image.description}
                - else
                    .collection(class=(image.end === true ? "end" : ""))
                        img(title=imgTitle  data-img-index=index class='lazy' data-original='https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+name+'/'+fileName)
                        p
                            span !{image.description}

mixin photographyCollection(photos)
    - if (photos.images.collection && photos.images.collection.length)
    .photo-collection.open
        .preloader
            img
        .photo-view-wrapper
            .slideshow-close 
                button.slide-action
                    i.fa.fa-times
            .slideshow-controls
                div.slide-action.fb-like Like
                div.slide-action.fullscreen
                    i.fa.fa-expand
                    i.fa.fa-compress(style="display:none")
                div.slide-action.prev
                    i.fa.fa-arrow-left
                div.slide-action.next
                    i.fa.fa-arrow-right
            .photo-view
                .slideshow-album-name
                    .slide-action
                .slideshow-loop
                    .slide-action
                img()

        - var index = 0
        each albumDisplayName in albumDisplayNames
            each image in photos.images.collection
                - if ( image.display == false )
                    return
                - else
                    - var albumNameFormatted = albumDisplayName.toLowerCase().replace(' ','-').replace('.','')
                    - var imgAlbum = image.albumDisplay
                    - if (imgAlbum == albumDisplayName)
                        - var name     = photos.name
                        - var fileName = image.fileName
                        - var filePath = (name+"/"+fileName)
                        - var imgTitle = image.title || "Photograph by Marc Deely"

                        .photo-wrapper
                            div.photo-item
                                a(style='background-image: url("https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+filePath+'-sm.jpg")' href='/photography/'+albumNameFormatted+'/'+fileName rel="external" data-ajax="false" data-alt=imgTitle data-title=imgTitle data-album=albumNameFormatted data-img-index=index data-img-src="https://s3.amazonaws.com/mdeely-portfolio-assets/images/"+filePath+".jpg")

                        - var index = ++index

mixin albumCollection(photos)
    .album-collection.open
        ul
            li.selected
                a(href="/photography/" data-album-link='All photos') All photos
                    span
                    span
                    span
            hr
            - if (photos.images.collection && photos.images.collection.length)
                - var index = 0
                each albumDisplayName in albumDisplayNames
                    - var albumDisplayRef = albumDisplayName.toLowerCase().replace('.','').replace(' ','-')
                    li
                        a(href="/photography/"+albumDisplayRef data-album-link=albumDisplayRef) #{albumDisplayName}
                            span

                    - var index = ++index

mixin scrollToTop
    button.scrollToTop Scroll to top

mixin backgroundMenuFade(color)
    - color = color || ''
    .menu-fader(style='background-color:'+color)

mixin facebookSDK
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&version=v2.7&appId=1780984665505852";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
