mixin navigation(back, page)
    - if (back)
        a.nav-item.back(onclick="window.history.go(-1);")
            span
    button.nav-item.menu
      .menu-trigger
        span
      ul.menu-container
        - if (page === "home")
            li: a.current Home
        - else
            li: a(href="/") Home
        - if (page === "about")
            li: a.current About
        - else
            li: a(href="/about") About
        li: a(href="mailto:themarcusdeely@gmail.com") Contact
        //- li: a(href="/photography")  Photography


mixin masthead(hero, project)
    - if (hero)
        nav.masthead.project-header
            .hero(style='background-color:'+project.theme)
    - else
        nav.masthead
            ul
                li.design(data-type="Design"): a
                li.name: a(href="/about") Marc Deely
                li.code(data-type="Code"): a

mixin listProjects()
    for project in projects
        - var name  = project.name
        - var klass = project.type.join(' ')
        - var thumb = project.images.thumb

        a.portfolioLink(href='/'+ name + '' class=klass onclick='ga("send", "event", "Project", "click", ' + name)
            .item-content
                img(src='https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+name+'/'+thumb)
            .item-details #{project.title}

mixin imageCollection(project)
    - if (project.images.collection && project.images.collection.length)
        .collection-container
            for image in project.images.collection
                - var name = project.name
                - var fileName = image.fileName

                - if (image.hero === true)
                    .collection.hero
                        img(src='https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+name+'/'+fileName)
                        p
                            span !{image.description}
                - else
                    .collection(class=(image.end === true ? "end" : ""))
                        img(data-img-index=index class='lazy' data-original='https://s3.amazonaws.com/mdeely-portfolio-assets/images/'+name+'/'+fileName)
                        p
                            span !{image.description}

mixin scrollToTop
    button.scrollToTop Scroll to top

mixin backgroundMenuFade(color)
    - color = color || ''
    .menu-fader(style='background-color:'+color)
